* {
  background-color: rgb(22, 22, 22);
  color: rgb(228, 222, 222);
  text-align: center;
  text-justify: center;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.easy {
  margin-top: 80px;
  width: 400px;
  height: 500px;
  display: flex;
  flex-direction: column;
}

.medium {
  margin-top: 80px;
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
}

.hard {
  margin-top: 80px;
  width: 600px;
  height: 400px;
  display: flex;
  flex-direction: column;
}

.row {
  flex: 33%;
  display: flex;
  flex-direction: row;
  margin: 5px;
}

.keyboard {
  width: 600px;
  height: 400px;
}

.line {
  display: flex;
  flex-direction: row;
  display: flex;
  justify-content: center;
  margin: 3px;
}

.key {
  border: 2px;
  display: grid;
  background-color: grey;
  margin: 5px;
  height: 50px;
  width: 40px;
  font-size: 20px;
  place-items: center;
}

#small {
  width: 100px;
}

#startKey {
  color: antiquewhite;
  border-radius: 20px;
  width: 100px;
  background-color: rgb(121, 191, 214);
}

.letter {
  flex: 33%;
  height: 100%;
  border: 1px solid grey;
  margin: 5px;
  display: grid;
  place-items: center;
  font-size: 30px;
  font-weight: bolder;
  color: white;
}


@media (max-width: 700px) {
  header {
    padding-top: 10px;
    font-size: 20px;
  }

  .keyboard {
    width: 400px;
    height: 200px;
  }

  .key {
    height: 40px;
    width: 30px;
    font-size: 15px;
    margin: 2px;
  }

  #small {
    font-size: 10px;
    width: 50px;
  }

  #startKey {
    border-radius: 10px;
    font-size: 10px;
    width: 60px;
  }

  .letter {
    font-size: 20px;
  }

  .easy {
    margin-top: 60px;
    width: 80vmin;
    height: 100vmin;
  }

  .medium {
    margin-top: 60px;
    width: 90vmin;
    height: 100vmin;
  }

  .hard {
    margin-top: 60px;
    width: 100vmin;
    height: 80vmin;
  }
}

#correct {
  background-color: #469e40;
}

#almost {
  background-color: #b8a236;
}

#wrong {
  background-color: #38353d;
}