@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Righteous&display=swap');

.example.img {
    display: block;
    width: 80%;
    margin: auto;
}

p {
    font-size: 20px;
}

.rules-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.rules {
    width: 70vmax 60vmin;
}

.line-after:after {
    display: block;
    content: "\00a0";
    border-bottom: 1px grey solid;
    width: 100%;
}

.rules-header {
    text-align: center;
    font-size: 50px;
  }

