@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Righteous&display=swap');

.eg {
    /* display: block; */
    width: 70vmin;
    margin: auto;
}

p {
    font-size: 20px;
}

.rules-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.rules {
    margin-top: 80px;
    width: 70vmax 60vmin;
}

.line-after:after {
    display: block;
    content: "\00a0";
    border-bottom: 1px grey solid;
    width: 100%;
}

@media (max-width: 700px) {
    .rules {
        margin-top: 50px;
    }

    p {
        font-size: 15px;
    }

    h2 {
        font-size: 20px;
    }

}