
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Righteous&display=swap');

* {
  background-color: rgb(22, 22, 22);
  color: rgb(228, 222, 222);
}

.Welcome {
  position: fixed;
  top: 0%;
  padding-top: 20px;
  width: 100%;
  z-index: 100;
  font-family: Fredoka One;
  font-size: 40px;
}

.NavBar {
  position: fixed;
  margin-top: 100px;
  margin-left: 0px;
  padding-left: 50px;
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 50px;
  font-family: Fredoka One;
  font-size: 20px;
}

.navlink:hover {
  color: aquamarine;
  font-size: 25px;
  transition: 500ms;
}

.App-logo {
  margin-top: 100px;
  height: 70vmin;
}


